[Unit]
Description=Oven Temp
After=multi-user.target docker.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/oven-temp/oven_temp.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target